/*-----------------------------------------------------------Général---------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
}
/*-----------------------------------------------------------Header---------------------------------------------*/
header {
    background-color: #002d62;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 30px;
    height: 75px;
}

header #header-content {
    display: inline;
    margin-top: 20px;
}

header #logo {
    display: inline;
    margin-right: 15px;
    float: left;
}

header #logo h1 {
    margin: 0;
    font-size: 25px;
}

header nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

header nav a {
    padding: 15px;
    font-size: 25px;
    color: #ffffff!important;
    text-decoration: none!important;
}

header nav a:hover {
    background-color: #007dc3;
    border-radius: 5px;
}

header #social {
    margin-top: 8px;
    float: right;
}
/*-----------------------------------------------------------section---------------------------------------------*/
section{
    width: 90%;
    margin: auto;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
	text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.30) inset;
}
section h1{
    text-align: center;
}
section .img{
    text-align: left;
}
section a{
    text-align: center;
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}

/*-----------------------------------------------------------Header---------------------------------------------*/
footer{
    text-align: center;
    width: 100%;
    margin: auto;
    color: #fff;
    padding: 10px;
    bottom: 0;
    background-color: #002d62;
}
